* {
  font-family: "Roboto", Arial, sans-serif;
}

.nav-title {
  margin-top: 0 !important;
}
.sidebar-nav .nav-link.active {
  background: rgb(231 250 253) !important;
}
.rounded-div {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
